* {
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
body {
	background-color: #000;
	font-family: Aldrich;
	margin: 0;
}
article {
	width:100%;
}
article p {
	font-size: 20px;
	color: white;
}
/* Les container du contenu. */
.container, #noFlex {
	max-width:1024px;
	margin: 0 auto;
	padding: 20px;
	text-align: center; 
	position: relative;
}

header {
	min-height: 68px;
}
main {
	background: linear-gradient(180deg, rgba(255,132,1,0.5) 0%, rgba(9,9,121,0.5) 54%, rgba(0,0,0,0.5) 100%);
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	align-items:center;
}
header[class="container"] {
	border-bottom: 1px solid white;
	box-shadow: 0px 10px 10px rgba(26, 26, 26, 0.3);
}
footer[class="container"] {
	border-top: 1px solid white;
	box-shadow: 0px -10px 10px rgba(26, 26, 26, 0.3);
	text-align: center;
}
footer[class="container"], header[class="container"] {
	background-color: rgba(0,0,0,0.8);
	text-align: center;
}

footer a {
	padding: 0;
	border: 0;
	background-color: rgba(0,0,0,0);
	color:white;
	box-shadow: none;
	display: inline-block;
	width: 100%;
	margin: 0 auto;
}
footer a:hover {
	background-color: rgba(0,0,0,0);
	text-decoration: underline;
}
a {
	font-family: Impact;
	padding: 10px;
	text-decoration: none;
	color: white;
	letter-spacing: 0.05em;
	display: inline-block;
	text-shadow: 2px 2px 5px rgba(40, 186, 253, 0.719);
	bottom: 0;

}
/*Style du burger en responsive */
#burger {
	display:none;
	position: absolute;
	top: 5px;
	right: 0px;
}
main ul {
	font-size: 20px;
	font-family: Aldrich;
	color:white;
}
h3 {
	text-decoration: underline;
	color: white;
	text-shadow: 2px 2px 5px rgba(40, 186, 253, 0.719);
}
iframe {
	width: 70%;
	display: inline-block;
	border:none;
}

/*ID d'erreur, uniquement afficher dans la page print */
#error {
	display: none;
}
/* Les Background */
.fond1 {
	background-image:url("../img/fond1v2.jpg");
	background-size: cover;
	width: 100%;
}
.fond2 {
	background-image:url("../img/fond2v2.jpg");
	background-size: cover;
}
.fond3 {
	background-image:url("../img/fond3v2.jpg");
	background-size: cover;
}
/*Le tableau */
table {
	width: 100%;
	font-family: Aldrich;
	text-align: center;
	border-collapse: collapse;
}
.tabletitre {
	color: rgba(0,0,0,0.7);
}
td, th {
	padding: 20px;
	background-color: rgba(212,212,212,0.3);
}
td:first-of-type {
	background-color: rgba(151, 151, 151, 0.3);
}
th:first-of-type {
	background-color: rgba(0, 0, 0, 0.7);;
	color: rgb(255,255,255);
	
	border: rgba(0,0,0,0.7);

}
th {
	background-color: rgba(0, 0, 0,0.7);
	color: white;
	border:none;
	text-shadow: 3px 3px 5px rgba(40, 186, 253, 0.719);
}

tr:first-child th  {
	background-color: rgba(0, 0, 0, 0.7);;
	color: white;
}

/* transition des a quand on click ou on hover */
a:hover {
	text-shadow: 5px 5px 5px rgba(40, 186, 253, 0.719);
	transition: 0.33s ease; 
}
a:active {
	text-shadow: 0px 0px 0px;
	transition: 0.10s ease;
}	

/*Formulaire */
form {
	display: inline-flex;
	width: 100%;
}
fieldset {
	width: 100%;
	text-align: left;
	border:none;
	color: white;
}
label {
	display: block;
}
span {
	font-style: italic;
}
input[type="email"] {
	border: 1px solid white;
	width: 30vh;
}
fieldset button, fieldset select {
	color: white;
}
.aligned {
	display: inline-block;
}
legend {
	text-align: center;
}
textarea {
	width: 100%;
	height: 100px;
}

input, select, textarea, button, #bug {
	background-color: rgba(0, 0, 0, 0.3);
	border:none;
	border-bottom: 1.5px solid white;
	font-weight: bold;
}
ul {
	list-style-type: none;
	margin-right: 40px;
}
i {
	font-size: 18px;
}
textarea, input[type="email"] {
	color: white;
}

/* Code Imported */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
	left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
	font-family: Aldrich;
  	color: white;
	font-size: 15px;
 	padding: 12px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
	bottom:4px;
}
.text h1 {
	color: white;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*Fin Code Imported */



h1 {
	padding:10px;
	color:white;
	text-shadow: 0px 5px 5px rgba(40, 186, 253, 0.719);
	text-decoration: underline;
}
header img {
	overflow: hidden;
}
/* Animation du vesseau */
#SSimg {
	animation: spaceshipanim1 5s linear forwards;
}
#SSimg2 {
	animation: spaceshipanim2 5s linear forwards;
}
@keyframes spaceshipanim1 {
	0% { 
		right:0;
		
	}

	100% {
		right:100%;
		top: 300px;
	}
}
@keyframes spaceshipanim2 {
	0% { 
		right:0;
		
	}

	100% {
		right:70%;
		height: 30px;;
		width: 50px;
	}
}
/*animation du menu apres click du burger */
@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}


/* Comportement du site sur mobile */
@media screen and (max-width: 600px) {
	header a {
		display: block;
		margin-bottom: 5px;
	}
	.logoclass {
		display:none;
	}
	td, th {
		padding: 10px;
	} 
	body {
		font-size: 0.6em;
	} 
	.text {
		position: relative;
		display: inline-block;
	}
	#navbar{
		display:none;
		position:relative;
		animation: animatetop 0.4s;
	}
	#burger {
		display: block;
	}
}



